<h1>Change wall measurements</h1>
<div>
  <%= form_for(@wall) do |f| %>
  <div class="field" id='wall_name' value="#{@wall.wall_name}">
    <%= f.label :wall_name, 'Wall Name' %>
    <%= f.text_field :wall_name %>
  </div>
    <p>Please put measurments in feet</p>
    <div class="field" id='length' value="#{@wall.height}">
      <%= f.label :height, 'Wall Height' %>
      <%= f.text_field :height %>
    </div>
    <div class="field" id='length' value="#{@wall.length}">
      <%= f.label :length, 'Wall Length' %>
      <%= f.text_field :length %>
    </div>
    <div class="action">
      <%= f.submit "Change" %>
    </div>
  <% end %>
</div>

<div class="wall_specs">
  <h2> <%= @wall.wall_name %> Specs </h2>
  <p> wall height <%= @wall.height %> </p>
  <p> wall length <%= @wall.length %> </p>
  <p> wall footage <%= @wall.square_footage %> </p>
</div>

<div class="wall_mats">
  <h2> Material needed to build <%= @wall.wall_name %> </h2>
  <p> 2x4: <%= @wall.studs %> studs <p1>
  <p> Drywall: <%= @wall.drywall %> sheets </p>
  <p> R13 insulation: <%= @wall.insulation %> rolls </p>
</div>
