<p> New Wall </p>
<div>
  <%= form_for(@wall) do |f| %>
  <div class="field">
    <%= f.label :wall_name, 'Wall Name' %>
    <%= f.text_field :wall_name %>
  </div>
    <p>Please put measurments in feet</p>
    <div class="field">
      <%= f.label :height, 'Wall Height' %>
      <%= f.text_field :height %>
    </div>
    <div class="field">
      <%= f.label :length, 'Wall Length' %>
      <%= f.text_field :length %>
    </div>
    <div class="action">
      <%= f.submit "Build it" %>
    </div>
  <% end %>
</div>
