<p> Wall Specs </p>
<h2>wall length <%= @wall.length %></h2>
<p> wall footage <%= @wall.square_footage %> </p> <br>
<p> <%= @wall.lenght_in_inches %> </p>
<h1>stud count <%= @wall.studs %></h1>
<h1>drywall sheets <%= @wall.drywall %></h1>
