<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "JustKeepBuilding" %></title>
  

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class='menu'>
      <div class='left-side'>
        <ul>
          <li><%= link_to 'Home', home_index_path %></li>
          <li><%= link_to 'Build New Wall', new_wall_path %></li>
        </ul>
      </div>
      <div class='right-side'>
          <ul>
            <% if user_signed_in? %>
            <li> <%= link_to 'Project Page', user_path(current_user) %> </li>
            <li> <%= link_to 'Edit Account', edit_user_registration_path(current_user) %> </li>
            <li> <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> </li>
            <% else %>
            <li><%= link_to 'Sign In', new_user_session_path %>  </li>
            <li><%= link_to 'Sign Up', new_user_registration_path %>  </li>
            <% end %>
        </ul>
      </div>
    </div>
    <div align='center'>
      <p class="notice"> <%= notice %> </p>
      <p class="alert">  <%= alert %> </p>
    </div>
    <%= yield %>
  </body>
</html>
